<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Crypto Price Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'tracker/styles.css' %}">
</head>
<body>
    <select id="crypto-select"></select>
    <div id="chart-container">
        <canvas id="cryptoChart"></canvas>
    </div>
    <script src="{% static 'tracker/main.js' %}"></script>
</body>
</html>
